.dropdown_menu_container {
    padding: 15px 80px;
} 
.container_wrapper_dropdown {
    border: 2px solid rgba(5,181,229,.7);
    padding: 15px;
    margin-bottom: 20px;
}
.wrapper_item_menu {
    border: 2px solid rgba(5,181,229,.7);
    border-radius: 4px;
}
.delete_menu_item_2 {
    margin-top: 10px;
}